@import url(../Assets_CSS/chillax.css);

/* Variables */
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light:#6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body:#727272;
    --font-base: "ChillaxDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* Reset and Helper */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.image-zoom {
    position: relative;
    overflow: hidden;

}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

.image-zoom-wrapper {
    overflow:hidden;
    position: relative;
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.firstname {
    color: rgb(0, 81, 255);
    font-weight: 700;
}

.lastname {
    padding-left: 4px;
    font-weight: 400;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-brand-rgb);
    text-transform: capitalize;
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}
/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 24px;
}


.btn-brand {
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(13, 136, 185));
    border-color: rgb(255, 255, 255);
    color:rgb(92, 92, 92);
}

.btn-brand:hover {
    background-color: white;
    border-color: black;
    color: black;
}

/* Hero */

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/* Section Title */

.section-title{
    margin-bottom: 40px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: black;
    margin: 16px auto 24px auto;
}

/* iconbox */
.iconbox {
    width:70px;
    height:70px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    background:rgb(var(--c-brand-rgb), 0.2);
    color:var(--c-brand);
    font-size:34px;
    flex:none;
}
    /* Service */ 
    .service {
        position: relative;
        overflow: hidden;
        z-index: 2;
    }
    
    .service::after {
        content: "";
        width: 40px;
        height: 40px;
        background: rgb(1, 68, 99);
        position: absolute;
        bottom: 0;
        right: 0;
        transition: var(--transition);
    }
    
    .service:hover::after {
        width: 100%;
        height: 100%;
        background: rgb(29, 86, 190);
        z-index: -1;
    }
    
    .service:hover h5,
    .service:hover p {
        color: rgb(2, 1, 1);
    }
    
    .service:hover .iconbox {
        background-color: rgba(255, 255, 255, 0.2);
        color: rgb(0, 0, 0);
    }

/* counter */
#counter {
    background: 
    url(../images/Projector.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.portofolio-item .iconbox {
    background-color:rgb(249, 254, 255);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portofolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* portofolio */
.portofolio-item .iconbox {
    background-color:rgb(8, 8, 8);
    color: rgb(0, 0, 0);
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%  -50%);
    opacity: 0;
}

.portofolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;

}

/* review */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width:28px;
    height:28px;
    position:absolute;
    bottom: 14px;
    background-color: white;
    transform: rotate(45deg);
}

/* Team */
.team-member-content {
    background-image: linear-gradient(to right, rgb(7, 153, 250) , rgb(17, 0, 255));
    position: absolute;
    bottom: -24px;
    left: 50%;
    width:calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: all 0.5s ease;
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* contact */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background-color: white; /* pisahkan dengan titik koma */
    background-image: url(../images/Space.jpg); /* pisahkan dengan titik koma */
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none; /* perbaiki properti box-shadow */
}
/* Footer */
.footer-top {
    padding-top:40px;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom {
    padding-top: 40px;
}

footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7);
}

footer ul {
    list-style: none;
    padding:0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color:rgb(0, 113, 179);
    margin-top: 14px;
    margin-bottom: 14px;
}

.line-bg {
    width: 40px;
    height: 40px;
    background-color:white;
    margin-top: 14px;
    margin-bottom: 14px;
}

.social-icon a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
}

.social-icon a:hover {
    background-color:white;
    color: white;
}